{% extends 'Main/base.html' %}
{% load static %}
   {% block content %}
	  
	  <section class="home-slider js-fullheight owl-carousel">
	

      <div class="slider-item js-fullheight">
      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
	          <div class="col-md-8 text-center ftco-animate mt-5">
	          	<div class="text">
	          		<div class="subheading">
	          			<span>Embedded Lab</span>
	          		</div>
		            <h1 class="mb-4">We <span>Love</span> Jang</h1>
		            <p>He is famaous prof in CJU Univ</p>
		            
	            </div>
	          </div>
	        </div>
        </div>
      </div>
    </section>
		  <script src="{% static 'Main/js/moment.min.js' %}"></script>
	  <script src="{% static 'Main/js/fullcalendar.js' %}"></script>
	  <script src="{% static 'Main/js/ko.js' %}"></script>
	  <link rel="stylesheet" href="{% static 'Main/css/fullcalendar.css' %}">
<!--
    <section class="ftco-counter" id="section-counter">
    	<div class="container-fluid px-0">
    		<div class="row no-gutters">
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
              		<span class="icon-users"></span>
              	</div>
                <strong class="number" data-number="98087">0</strong>
                <span>Members</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
              		<span class="icon-user"></span>
              	</div>
                <strong class="number" data-number="309">0</strong>
                <span>Pastors</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
              		<span class="icon-money"></span>
              	</div>
                <strong class="number" data-number="9350500">0</strong>
                <span>Donation</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5">
              <div class="text">
              	<div class="icon d-flex justify-content-center align-items-center">
              		<span class="icon-home"></span>
              	</div>
                <strong class="number" data-number="206">0</strong>
                <span>Churches</span>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </section>
		-->
		<section class="ftco-section ftco-services-2" id="services-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Events</span>
            <h2 class="mb-4">알림</h2>
            <div>
			
				<div id="cal">
				
				</div>
			</div>
          </div>
        </div>
      
		</section>
		<script>
		var shcedule_data = {};
		var events = []
		$(document).ready(function(){
		
		})
		

		var a = $('#cal').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay,listWeek'
		},
		locale: 'ko',
		defaultDate: new Date().toJSON(), 
		navLinks: true, // can click day/week names to navigate views
		editable: true,
		eventLimit: true, // allow "more" link when too many events
		eventSources : [{
		events : function(start, end, timezone, callback){
			$.ajax({
				url : '/',
				type : 'POST',
				data : {
					'csrfmiddlewaretoken' : '{{ csrf_token }}',
				},
				success : function(res){
					//console.log(res.sche);
					var schedule_data = JSON.parse(res.sche);
					var evs = [];
					for (var i in schedule_data){
						evs.push(
							{
								'title' : schedule_data[i]['fields']['s_user'] + "-" + schedule_data[i]['fields']['s_content'],
								'start' : schedule_data[i]['fields']['s_date'],
								'end' : schedule_data[i]['fields']['s_finished_date']
							}
						)
					}
					console.log(evs);
					callback(evs);
					var add_schedule_btn = $("<button id=add_scehedule class='btn btn-info' onclick='add_schedule();'>일정추가</button>");
					if (!$("#add_scehedule")[0]){
						$(".fc-right").append(add_schedule_btn);
					}
					
				}
			})
		},
		 color: 'yellow',   // an option!
      	textColor: 'black' // an option!
		}]
		});
		


		function add_schedule(){
			window.open("{% url 'main:add-schedule' %}", "Add_calendar", "resizable=0, width=400, height=300, left=100, top=50")
		}

		
		</script>
	{% endblock %}
