{% extends 'Main/base.html' %}
{% block content %}
<style>
*{
    color : black;
}

</style>
<section class="ftco-section bg-light" id="sermons-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Members</span>
            <h2 class="mb-4">연구원</h2>
            
          </div>

		  {% for person in mems %}
		  	<div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image : url(../../media/{{person.profile.p_picture}})">
						
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">{{person.profile.p_name}}</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>{{person.profile.p_grade}}학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div>
		  {% endfor %}
		  <!--
        </div>
				<div class="row">
        	<div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">곽재원</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div>
        	<div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">김동범</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">김동민</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">방현민</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안희상</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>3학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">고원지</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>2학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">박상훈</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>2학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	
			</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">박현구</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>2학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	
			</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">함다희</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>2학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	
			</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">김수빈</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>2학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div>
			-->
        </div>
			</div>

		</section>
{% endblock %}