{% extends 'Main/base.html' %}
{% block content %}
<style>
*{
    color : black;
}

</style>
<section class="ftco-section bg-light" id="sermons-section">
			<div class="container">
				<div class="row justify-content-center pb-5">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<span class="subheading">Members</span>
            <h2 class="mb-4">연구생 소개</h2>
            <p>ㅎ2</p>
          </div>
        </div>
				<div class="row">
        	<div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div>
        	<div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div><div class="col-md-4">
        		<div class="sermon-wrap ftco-animate">
    					<div class="img d-flex align-items-center justify-content-center" style="background-image: url(images/sermon-1.jpg);">
    						사진
    					</div>
    					<div class="text pt-3 text-center">
    						<h2 class="mb-0"><a href="sermon.html">안주영</a></h2>
    						<div class="meta">
		  						<p class="mb-0">
			  						<span>4학년</span>
		  						</p>
		  					</div>
    					</div>
  					</div>
        	</div>
        </div>
			</div>
		</section>
{% endblock %}