{% extends 'Main/base.html' %}
{% block content %}
<section class="ftco-intro img" id="events-section" style="background-image: url(images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
{% if msg %}
<div class="d-flex justify-content-center h-100">
	<div class="alert alert-warning mt-1">
		{{msg}}
	</div>
</div>
{% endif %}

{% if next %}
<form method="POST" action="/login/?next={{next}}">
{% else %}
<form method="POST" action="/login/">
{% endif %}
{% csrf_token %}
<div class="container mt-3 mb-3">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Log in</h3>
				
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-grin-beam"></i></span>
						</div>
						<input id="id" name="id" type="text" class="form-control" placeholder="ID">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="far fa-grin-alt"></i></span>
						</div>
						<input name="pw" type="password" class="form-control" placeholder="PW">
					</div>
					
					<div class="form-group">
					<input id="id_check" type="checkbox" class="btn btn-success"><span class="mr-5">아이디 저장</span>
						<input type="submit" value="로그인" class="btn btn-success ml-5">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<span></span><a style="color : blue" href="{% url 'main:register' %}" class="ml-2">회원가입</a>
				</div>
    
			</div>
		</div>
	</div>
</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
	function setCookie(name, value, expire){
		var date = new Date();
		date.setDate(date.getDate() + expire);
		document.cookie = name + "=" + value + "; expires=" + date.toGMTString();
	}

	function getCookie(name){
		var data = document.cookie;
		var start = data.indexOf(name);
		var cookie_data = "";
		if(start != -1)
		{
			start += name.length;
			var end = data.indexOf(';', start);
			if (end==-1) end = data.length;
			cookie_data = data.substring(start+1, end);
		}
		return unescape(cookie_data);
	}

	function delCookie(name){
		document.cookie = name + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
	}

    $(document).ready(function(){
        var msg = "{{msg}}";
        if (msg != ""){
            alert(msg);
        }
			
		var id = getCookie("id");
		$("#id").val(id);

		if ($("#id").val() != ""){
			$("#id_check").attr("checked", true);
		}
		
    })

	$("#id_check").change(function(){
		if($("#id_check").is(":checked")){
			var user_id = $("#id").val();
			setCookie("id", user_id, 7);
		}else{
			delCookie("id");
		}
	})

	$("#id").keyup(function(){
		if ($("#id_check").is(":checked")){
			var user_id = $("#id").val();
			setCookie("id", user_id, 7);
		}
	})



</script>
{% endblock %}